ui/node_modules
ui/coverage
ui/*.log*
ui/.nuxt
ui/.nitro
ui/.cache
ui/.output
ui/.env
ui/dist
ui/.DS_Store
ui/.idea
ui/.eslintcache
ui/api-generator/typedoc.json
ui/**/.DS_Store
ui/.vscode
.idea
.vscode
.vs/**
odj/
bin/
DataTableFunctions/obj/DataTableFunctions.csproj.nuget.dgspec.json
DataTableFunctions/obj/DataTableFunctions.csproj.nuget.g.props
DataTableFunctions/obj/DataTableFunctions.csproj.nuget.g.targets
DataTableFunctions/obj/Debug/net9.0/DataTableFunctions.AssemblyInfo.cs
DataTableFunctions/obj/Debug/net9.0/DataTableFunctions.AssemblyInfoInputs.cache
DataTableFunctions/obj/Debug/net9.0/DataTableFunctions.GeneratedMSBuildEditorConfig.editorconfig
DataTableFunctions/obj/Debug/net9.0/DataTableFunctions.assets.cache
DataTableFunctions/obj/Debug/net9.0/DataTableFunctions.csproj.AssemblyReference.cache
DataTableFunctions/obj/Debug/net9.0/DataTableFunctions.csproj.CoreCompileInputs.cache
DataTableFunctions/obj/Debug/net9.0/DataTableFunctions.csproj.FileListAbsolute.txt
DataTableFunctions/obj/Debug/net9.0/DataTableFunctions.dll
DataTableFunctions/obj/Debug/net9.0/DataTableFunctions.pdb
DataTableFunctions/obj/Debug/net9.0/DataTableFunctions.sourcelink.json
DataTableFunctions/obj/Debug/net9.0/ref/DataTableFunctions.dll
DataTableFunctions/obj/Debug/net9.0/refint/DataTableFunctions.dll
DataTableFunctions/obj/project.assets.json
DataTableFunctions/obj/project.nuget.cache
DateTimeFunctions/obj/DateTimeFunctions.csproj.nuget.dgspec.json
DateTimeFunctions/obj/DateTimeFunctions.csproj.nuget.g.props
DateTimeFunctions/obj/DateTimeFunctions.csproj.nuget.g.targets
DateTimeFunctions/obj/Debug/net9.0/DateTimeFunctions.AssemblyInfo.cs
DateTimeFunctions/obj/Debug/net9.0/DateTimeFunctions.AssemblyInfoInputs.cache
DateTimeFunctions/obj/Debug/net9.0/DateTimeFunctions.GeneratedMSBuildEditorConfig.editorconfig
DateTimeFunctions/obj/Debug/net9.0/DateTimeFunctions.assets.cache
DateTimeFunctions/obj/Debug/net9.0/DateTimeFunctions.csproj.AssemblyReference.cache
DateTimeFunctions/obj/Debug/net9.0/DateTimeFunctions.csproj.CoreCompileInputs.cache
DateTimeFunctions/obj/Debug/net9.0/DateTimeFunctions.csproj.FileListAbsolute.txt
DateTimeFunctions/obj/Debug/net9.0/DateTimeFunctions.dll
DateTimeFunctions/obj/Debug/net9.0/DateTimeFunctions.pdb
DateTimeFunctions/obj/Debug/net9.0/DateTimeFunctions.sourcelink.json
DateTimeFunctions/obj/Debug/net9.0/ref/DateTimeFunctions.dll
DateTimeFunctions/obj/Debug/net9.0/refint/DateTimeFunctions.dll
DateTimeFunctions/obj/project.assets.json
DateTimeFunctions/obj/project.nuget.cache
DoeFunctions/obj/Debug/net9.0/DoeFunctions.AssemblyInfo.cs
DoeFunctions/obj/Debug/net9.0/DoeFunctions.AssemblyInfoInputs.cache
DoeFunctions/obj/Debug/net9.0/DoeFunctions.GeneratedMSBuildEditorConfig.editorconfig
DoeFunctions/obj/Debug/net9.0/DoeFunctions.assets.cache
DoeFunctions/obj/Debug/net9.0/DoeFunctions.csproj.AssemblyReference.cache
DoeFunctions/obj/Debug/net9.0/DoeFunctions.csproj.CoreCompileInputs.cache
DoeFunctions/obj/Debug/net9.0/DoeFunctions.csproj.FileListAbsolute.txt
DoeFunctions/obj/Debug/net9.0/DoeFunctions.dll
DoeFunctions/obj/Debug/net9.0/DoeFunctions.pdb
DoeFunctions/obj/Debug/net9.0/DoeFunctions.sourcelink.json
DoeFunctions/obj/Debug/net9.0/ref/DoeFunctions.dll
DoeFunctions/obj/Debug/net9.0/refint/DoeFunctions.dll
DoeFunctions/obj/DoeFunctions.csproj.nuget.dgspec.json
DoeFunctions/obj/DoeFunctions.csproj.nuget.g.props
DoeFunctions/obj/DoeFunctions.csproj.nuget.g.targets
DoeFunctions/obj/project.assets.json
DoeFunctions/obj/project.nuget.cache
FinancialFunctions/obj/Debug/net9.0/FinancialFunctions.AssemblyInfo.cs
FinancialFunctions/obj/Debug/net9.0/FinancialFunctions.AssemblyInfoInputs.cache
FinancialFunctions/obj/Debug/net9.0/FinancialFunctions.GeneratedMSBuildEditorConfig.editorconfig
FinancialFunctions/obj/Debug/net9.0/FinancialFunctions.assets.cache
FinancialFunctions/obj/Debug/net9.0/FinancialFunctions.csproj.AssemblyReference.cache
FinancialFunctions/obj/Debug/net9.0/FinancialFunctions.csproj.CoreCompileInputs.cache
FinancialFunctions/obj/Debug/net9.0/FinancialFunctions.csproj.FileListAbsolute.txt
FinancialFunctions/obj/Debug/net9.0/FinancialFunctions.dll
FinancialFunctions/obj/Debug/net9.0/FinancialFunctions.pdb
FinancialFunctions/obj/Debug/net9.0/FinancialFunctions.sourcelink.json
FinancialFunctions/obj/Debug/net9.0/Financialfunctions.AssemblyInfo.cs
FinancialFunctions/obj/Debug/net9.0/Financialfunctions.AssemblyInfoInputs.cache
FinancialFunctions/obj/Debug/net9.0/Financialfunctions.GeneratedMSBuildEditorConfig.editorconfig
FinancialFunctions/obj/Debug/net9.0/Financialfunctions.assets.cache
FinancialFunctions/obj/Debug/net9.0/Financialfunctions.csproj.AssemblyReference.cache
FinancialFunctions/obj/Debug/net9.0/Financialfunctions.csproj.CoreCompileInputs.cache
FinancialFunctions/obj/Debug/net9.0/Financialfunctions.csproj.FileListAbsolute.txt
FinancialFunctions/obj/Debug/net9.0/Financialfunctions.dll
FinancialFunctions/obj/Debug/net9.0/Financialfunctions.pdb
FinancialFunctions/obj/Debug/net9.0/Financialfunctions.sourcelink.json
FinancialFunctions/obj/Debug/net9.0/ref/FinancialFunctions.dll
FinancialFunctions/obj/Debug/net9.0/ref/Financialfunctions.dll
FinancialFunctions/obj/Debug/net9.0/refint/FinancialFunctions.dll
FinancialFunctions/obj/Debug/net9.0/refint/Financialfunctions.dll
FinancialFunctions/obj/FinancialFunctions.csproj.nuget.dgspec.json
FinancialFunctions/obj/FinancialFunctions.csproj.nuget.g.props
FinancialFunctions/obj/FinancialFunctions.csproj.nuget.g.targets
FinancialFunctions/obj/Financialfunctions.csproj.nuget.dgspec.json
FinancialFunctions/obj/Financialfunctions.csproj.nuget.g.props
FinancialFunctions/obj/Financialfunctions.csproj.nuget.g.targets
FinancialFunctions/obj/project.assets.json
FinancialFunctions/obj/project.nuget.cache
FunctEngine/obj/Debug/net9.0/FunctEngine.AssemblyInfo.cs
FunctEngine/obj/Debug/net9.0/FunctEngine.AssemblyInfoInputs.cache
FunctEngine/obj/Debug/net9.0/FunctEngine.GeneratedMSBuildEditorConfig.editorconfig
FunctEngine/obj/Debug/net9.0/FunctEngine.assets.cache
FunctEngine/obj/Debug/net9.0/FunctEngine.csproj.AssemblyReference.cache
FunctEngine/obj/Debug/net9.0/FunctEngine.csproj.CoreCompileInputs.cache
FunctEngine/obj/Debug/net9.0/FunctEngine.csproj.FileListAbsolute.txt
FunctEngine/obj/Debug/net9.0/FunctEngine.dll
FunctEngine/obj/Debug/net9.0/FunctEngine.pdb
FunctEngine/obj/Debug/net9.0/FunctEngine.sourcelink.json
FunctEngine/obj/Debug/net9.0/ref/FunctEngine.dll
FunctEngine/obj/Debug/net9.0/refint/FunctEngine.dll
FunctEngine/obj/FunctEngine.csproj.nuget.dgspec.json
FunctEngine/obj/FunctEngine.csproj.nuget.g.props
FunctEngine/obj/FunctEngine.csproj.nuget.g.targets
FunctEngine/obj/project.assets.json
FunctEngine/obj/project.nuget.cache
MathFunctions/obj/Debug/net9.0/MathFunctions.AssemblyInfo.cs
MathFunctions/obj/Debug/net9.0/MathFunctions.AssemblyInfoInputs.cache
MathFunctions/obj/Debug/net9.0/MathFunctions.GeneratedMSBuildEditorConfig.editorconfig
MathFunctions/obj/Debug/net9.0/MathFunctions.assets.cache
MathFunctions/obj/Debug/net9.0/MathFunctions.csproj.AssemblyReference.cache
MathFunctions/obj/Debug/net9.0/MathFunctions.csproj.CoreCompileInputs.cache
MathFunctions/obj/Debug/net9.0/MathFunctions.csproj.FileListAbsolute.txt
MathFunctions/obj/Debug/net9.0/MathFunctions.dll
MathFunctions/obj/Debug/net9.0/MathFunctions.pdb
MathFunctions/obj/Debug/net9.0/MathFunctions.sourcelink.json
MathFunctions/obj/Debug/net9.0/ref/MathFunctions.dll
MathFunctions/obj/Debug/net9.0/refint/MathFunctions.dll
MathFunctions/obj/MathFunctions.csproj.nuget.dgspec.json
MathFunctions/obj/MathFunctions.csproj.nuget.g.props
MathFunctions/obj/MathFunctions.csproj.nuget.g.targets
MathFunctions/obj/project.assets.json
MathFunctions/obj/project.nuget.cache
Server/obj/Debug/net9.0/Server.AssemblyInfo.cs
Server/obj/Debug/net9.0/Server.AssemblyInfoInputs.cache
Server/obj/Debug/net9.0/Server.GeneratedMSBuildEditorConfig.editorconfig
Server/obj/Debug/net9.0/Server.assets.cache
Server/obj/Debug/net9.0/Server.csproj.AssemblyReference.cache
Server/obj/Debug/net9.0/Server.csproj.CoreCompileInputs.cache
Server/obj/Debug/net9.0/Server.csproj.FileListAbsolute.txt
Server/obj/Debug/net9.0/Server.dll
Server/obj/Debug/net9.0/Server.genruntimeconfig.cache
Server/obj/Debug/net9.0/Server.pdb
Server/obj/Debug/net9.0/Server.sourcelink.json
Server/obj/Debug/net9.0/apphost.exe
Server/obj/Debug/net9.0/ref/Server.dll
Server/obj/Debug/net9.0/refint/Server.dll
Server/obj/Server.csproj.nuget.dgspec.json
Server/obj/Server.csproj.nuget.g.props
Server/obj/Server.csproj.nuget.g.targets
Server/obj/project.assets.json
Server/obj/project.nuget.cache
StringUtilities/obj/Debug/net9.0/StringUtilities.AssemblyInfo.cs
StringUtilities/obj/Debug/net9.0/StringUtilities.AssemblyInfoInputs.cache
StringUtilities/obj/Debug/net9.0/StringUtilities.GeneratedMSBuildEditorConfig.editorconfig
StringUtilities/obj/Debug/net9.0/StringUtilities.assets.cache
StringUtilities/obj/Debug/net9.0/StringUtilities.csproj.CoreCompileInputs.cache
StringUtilities/obj/Debug/net9.0/StringUtilities.csproj.FileListAbsolute.txt
StringUtilities/obj/Debug/net9.0/StringUtilities.dll
StringUtilities/obj/Debug/net9.0/StringUtilities.pdb
StringUtilities/obj/Debug/net9.0/StringUtilities.sourcelink.json
StringUtilities/obj/Debug/net9.0/ref/StringUtilities.dll
StringUtilities/obj/Debug/net9.0/refint/StringUtilities.dll
StringUtilities/obj/StringUtilities.csproj.nuget.dgspec.json
StringUtilities/obj/StringUtilities.csproj.nuget.g.props
StringUtilities/obj/project.assets.json
StringUtilities/obj/project.nuget.cache
DateTimeFunctions/obj/Debug/net9.0/DateTimeFunctions.csproj.BuildWithSkipAnalyzers
DoeFunctions/obj/Debug/net9.0/DoeFunctions.csproj.BuildWithSkipAnalyzers
FinancialFunctions/obj/Debug/net9.0/Financia.2EF1B2A6.Up2Date
FinancialFunctions/obj/Debug/net9.0/FinancialFunctions.csproj.BuildWithSkipAnalyzers
DataTableFunctions/obj/Debug/net9.0/DataTableFunctions.csproj.BuildWithSkipAnalyzers
